<%# manga new path - Manga Upload page  %>
<div class="form-container p-2">
  <%# back to user dashboard page %>
  <%= link_to 'Back', dashboard_index_path %>

  <h1 class="d-flex justify-content-center"><i class="fa-solid fa-user-pen"></i>Editing Manga: <%= @manga.manga_title %><i class="fa-solid fa-user-pen"></i></h1>
  <%= render "form_manga", manga: @manga%>
</div>
