<%# manga genre ->css:_navabr %>
<div>
<ul class="manga-genre-navbar border border-primary d-flex justify-content-around align-items-center">
  <li class="border border-primary">Adventure</li>
  <li>Fantasy</li>
  <li>Sci-Fic</li>
  <li>Romance</li>
  <li>Supernatural</li>
  <li>Historical</li>
  <li>SuperHero</li>
  <li>BL</li>
  <li>GL</li>
</ul>
</div>

<div class="m-4">
  <h1>Top & Popular Manga</h1>

  <%# top mangas %>
  <div class="manga-cards">
    <% @mangas.each do |manga| %>
      <div class="manga-card border border-primary", onclick="location.href='<%= manga_path(manga) %>'">
        <% if manga.cover_image.attached? %>
          <%= cl_image_tag manga.cover_image.key, crop: :fill, alt: manga.manga_title %>
        <% else %>
          <p>No cover image</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
