<%# manga new path - Manga Upload page  %>
<div class="form-container p-2">
  <%# back to user dashboard page %>
  <%= link_to 'Back', dashboard_index_path %>

  <h1 class="d-flex justify-content-center"><i class="fa-solid fa-star"></i>New Manga<i class="fa-solid fa-star"></i></h1>
  <%= render "formmanga", manga: @manga%>
</div>
