// show mangas scss
body {
  font-family: Arial, sans-serif;
}

.chapters-section {
  text-align: center;
  margin-top: 2rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.chapters-list {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  background-color: #A8EACE;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0 0.5rem;
}

.button:hover {
  background-color: #f90;
}

.review-section {
max-width: 800px;
margin: 0 auto;
font-family: Arial, sans-serif;
}

.review-title,
.add-review-title {
margin-bottom: 1rem;
font-size: 1.5rem;
}

.review {
background-color: #f7f7f7;
border-radius: 5px;
padding: 1rem;
margin-bottom: 1rem;
}

.review-author {
font-weight: bold;
font-size: 1.1rem;
}

.review-content {
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

.review-rating {
font-weight: bold;
font-size: 1.1rem;
}

.add-review-form {
margin-top: 1rem;
}

.form-group {
margin-bottom: 1rem;
}

.form-label {
display: block;
margin-bottom: 0.5rem;
}

.form-control {
display: block;
width: 100%;
padding: 0.5rem;
font-size: 1rem;
line-height: 1.5;
border: 1px solid #ced4da;
border-radius: 0.25rem;
}

.submit-btn {
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #ffc107;
border: 1px solid transparent;
padding: 0.5rem 1rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0;
}
