<div class="container">
  <%# start read chapter 1 %>
  <% if chapters.present? %>
    <div class="chapter-cards m-3">
        <% chapters.each do |chapter| %>
          <div class="chapter-card", onclick="location.href='<%= manga_chapter_path(manga, chapter) %>'" >
            <%= "Chapter:" "#{chapter.chapter_number} - #{chapter.chapter_title}" %>
          </div>
        <% end %>
      </div>
  <% else %>
    <p>The author has not upload any chapter yet, I guess you have to wait patiently :)</p>
  <% end %>
</div>
