<%# chapter edit path - Chapter edit page %>
<div class="form-container p-2">

  <%# back to manga/id page %>
  <%= link_to 'Back', manga_chapters_path(@manga), class:"button" %>

  <h1 class="d-flex justify-content-center">Edit Chapter</h1>
  <%= render 'form_chapter', chapter: @chapter %>

</div>
