<div class="new-chapter-container">
  <div class="chapter-form">
    <%= render 'form', chapter: @chapter %>
  </div>

  <div class="back-link">
    <%= link_to 'Back', manga_chapters_path(@manga), class: 'btn btn-primary' %>
  </div>
</div>
