// cards
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding-top: 0px;
  margin-top: 0px;
}

// card
.card {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  height: 250px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

// manga cover image
.manga-cover-image {
  height: 380px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.badge {
  text-decoration: none;
  background-color: #A8EACE;
  color: black;
}
