// manga cards - manga index page
.manga-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;
  padding-top: 0px;
  margin-top: 0px;
}


// manga cards - manga dashboard page
.manga-dashboard-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 10px;
}

// manga card
.manga-card {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  // padding: 20px;
  height: 250px;
  width: 180px;
  border-radius: 5px;
  // box-shadow: 0 0 16px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.manga-card:hover {
  transform: translateY(-5px);
}

.manga-cover-image {
  // height: 380px;
  // width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


//chapter cards
.chapter-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding-top: 0px;
  margin-top: 0px;
  border-radius: 5px;
  //background color - TODO: Keep or not keep?
  //background-color: rgba(255, 255, 255, 0.8);
}

.chapter-card {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; //text in center
  align-content: center;
  background-color: #FFFFD2;
  border-radius: 8px;
  font-weight: bold;
  height: 36px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;  // Smooth transition
  cursor: pointer;  // Hand cursor on hover
  overflow: hidden;  // Ensures content does not overflow
  word-wrap: break-word;  // Breaks the words at the end of the line
}

.chapter-card:hover {
  background-color: rgba(0, 0, 0, 0.6);  // Background color on hover
  color: #FFFFD2; // Text color on hover
}
