// manga_new page CSS
  //container
  .form-container {
    max-width: 700px;
    margin: 0 auto;
  }

  // form
  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // form
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1em;
  }

  //Choose file upload div
  .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #FFFFD2;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }

  .drop-container:hover {
    background:rgba(255, 255, 255, 0.5);
    border-color: #FFFFD2;
  }

  .drop-container:hover .drop-title {
    color: #222;
  }

  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

  //submit button
  input[type="submit"] {
    background-color: #A8EACE;
    color: white;
    border: none;
    cursor: pointer;
    width:100%;
  }

  input[type="submit"]:hover {
    background: #80B29D;
  }
//
