// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "font";
@import "form";

// TODO: Mary
// Search bar
.form-control {
  font-family: 'Roboto', sans-serif;
  color: #0a0a0a;
  background-color: #A8EACE;
  position: relative;
  border-radius: 10px;
}