// .navbar {
//   font-family: 'Roboto', sans-serif;
// }

// .navbar-brand {
//   font-weight: bold;
// }

// .nav-link {
//   color: #232323;
// }

// .nav-link:hover {
//   color: #ff6900;
// }

// .avatar {
//   max-height: 40px;
// }

// .search-form {
//   margin-right: 1rem;
// }


// -----------------------above code is from system/le wagon default setting
// below is Mary's code

.manga-genre-navbar{
  background-color: #CEFFEA;
  font-weight: bold;
  height: 36px;
  font-size: 1.2em;
}

li {
  list-style: none;
}
