.hidden {
  display: none;
}

  .navbar {
    font-family: 'Roboto', sans-serif;
    color: #A8EACE;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    color: #A8EACE;
  }

//   .nav-link:hover {
//     color: #ff6900;
//   }

//   .avatar {
//     max-height: 40px;
//   }

//   .container-fluid {
//     color: #A8EACE;
//   }

// .search-form {
//   margin-right: 1rem;
// }


// -----------------------above code is from system/le wagon default setting
// below is Mary's code

// manga genres
.manga-genre-navbar{
  background-color: #CEFFEA;
  font-weight: bold;
  height: 36px;
  font-size: 1.2em;
}

li {
  list-style: none;
}

li:hover{
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: 0.2s;
}

// the yellow dot next to Message on navbar if any unread message
.badge {
  text-decoration: none;
  background-color: #A8EACE;
  color: black;
}
